/******************************
* Color Scheme
******************************/     
// $color1: #703030;
// $color2: #2F343B;
// $color3: #7E827A;
// $color4: #E3CDA4;
// $color5: #C77966;

// $color1: #52616D;
// $color2: #FFFFFF;
// $color3: #2C343B;
// $color4: #C44178;
// $color5: #E5E1D1;

$red: #EC1D48;
$oj: #F09409;
$white: #E4EFD8;
$teal: #308FB1;

$color1: $oj;
$color2: $red;
$color3: darken($white, 50%);
$color4: $teal;
$color5: gray;